<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhobor.fortune">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.FinanceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.WalletsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.ReceiptWayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.TradeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.WithdrawRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.ModifyPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.ManagePropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.FillBindAccountInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.TradeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.GiveHandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.GetHandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.BalanceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.FreezeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.TradeRecordHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.BoodingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.BoodingCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldui.ChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.JiHuomaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.DynamicBoxActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.MyAccountActivity" />
        <activity android:name=".ui.GridManagerActivity" />
        <activity android:name=".ui.FankuiActivity" />
        <activity android:name=".ui.ConnectActivity" />
        <activity android:name=".ui.TransactionRecordActivity" />
        <activity android:name=".oldui.TransListActivity" />
        <activity android:name=".oldui.TransJfListActivity" />
        <activity android:name=".oldui.TransWjfListActivity" />
        <activity android:name=".oldui.TransMoneyListActivity" />
        <activity android:name=".ui.SettingUserActivity" />
        <activity android:name=".ui.ShareActivity" />
        <activity android:name=".ui.ShareProductActivity" />
        <activity android:name=".oldui.AddMoneyActivity" />
        <activity android:name=".ui.AccountWithdrawActivity" />
        <activity android:name=".ui.IntegralTransActivity" />
        <activity android:name=".oldui.AddBankCardActivity" />

        <activity
            android:name=".ui.ReportCenterApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ReportCenterApplyingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ReportCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ReportRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TeamDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TeamSubordinateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IntegralRecordActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="top.wuhaojie.installerlibrary.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>