<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhobor.ddc">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德地图定位服务 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1111ab2ff4da2695e7ba1d04adc0d645" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShoppingNearbyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RushOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FarmingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendingMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MsgDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TicketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BeAgentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Apply4SenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyReputationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShippingAddrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditShippingAddrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountAndSafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyNeededActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishDemandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySentOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SellerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoreQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrdersManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArrangeDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendingDetails2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KnowUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoreInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RushSendDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TicketManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapNavActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseNaviActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseLocateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".base.BasePermissionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>